# Python in space exploration

## Data types

In [1]:
# Int
numberOfRocks = 5

# Float
tempInSpace = -457.87

# String
roverName = "Artemis Rover"

# Bool
rocketOn = False

A variable can be assigned by vriting the name of a variable and an equals sign before entering the value, as above.

We do not need to state the type of the variable. Python decides it based on the input.

Variables can be reused later:

In [2]:
roverName

'Artemis Rover'

In [3]:
# Create int variable for basalt and initalize it to 0:
basaltRockCount = 0

The variable can be modified:

In [4]:
basaltRockCount = 3
basaltRockCount = basaltRockCount + 1
basaltRockCount

4

Shorthanding of arithmetics with variables:

In [5]:
basaltRockCount = 5
basaltRockCount += 3
basaltRockCount -= 2
basaltRockCount

6

We can do arithmetics on variables:

In [6]:
distanceToMoon = 238855
distanceTraveled = 10234
distanceLeft = distanceToMoon - distanceTraveled
distanceLeft

228621

It is more useful when variables have proper names:

In [7]:
a = 238855
b = 10234
c = a - b
c

228621

## Strings

Strings are a data tyoe that cata type that can store any sequence of symbols written down.

In [8]:
astronaut = "Stanley G Love"

In [9]:
upperCase = astronaut.upper()
upperCase

'STANLEY G LOVE'

In [10]:
lowerCase = astronaut.lower()
lowerCase

'stanley g love'

In [11]:
rocketOutput = "rOckEt iS A laUncH!"
rocketOutput.capitalize()

'Rocket is a launch!'

We can concatenate with +

In [12]:
launchLocationCity = "Cape Canaveral, "
launchLocationState = "Florida"
launchLocationCity + launchLocationState

'Cape Canaveral, Florida'

We can repeat  x amount of times with an asterisk:

In [13]:
artemisRoverSounds = "beep beep "
artemisRoverSounds * 3

'beep beep beep beep beep beep '

## Lists

Lists can store several items. They are a collection of values

In [14]:
# Create a list of common moon rocks
rockTypes = ["basalt", "highland", "breccia"]
rockTypes

['basalt', 'highland', 'breccia']

In [15]:
# A list with rock names and the number of each rock that was found
rockTypeAndCount = ["basalt", 1, "highland", 2.5, "breccia", 5]
rockTypeAndCount

['basalt', 1, 'highland', 2.5, 'breccia', 5]

In [16]:
rockTypes.append("soil")
rockTypes

['basalt', 'highland', 'breccia', 'soil']

In [17]:
rockTypes.pop()
rockTypes

['basalt', 'highland', 'breccia']

In [18]:
rockTypes[1]

'highland'

In [19]:
rockTypes[2] = "soil"
rockTypes

['basalt', 'highland', 'soil']

the print() function gives us the possibility to print more than the last output of a cell:

In [20]:
2 + 2
5 + 3

8

In [21]:
print(2 + 2)
print(5 + 3)

4
8

## Conditions

Conditions in python is used by adding logical operators to our code.

the common ones:

In [22]:
x = 1
y = 2

# Equals:
x == y

# Not equal:
x != y

# Less than, greater than:
x < y
x > y

# less than or equal, greather than or equal:
x <= y
x >= y

False

In [23]:
temp = 32

print(temp >= 32)
print(temp < 32)
print(temp == 32)

True
False
True

In [24]:
rock = "basalt"
print("highland" == rock)
print("basalt" == rock)

False
True

In [25]:
rock = "basaltrock"
print("highland" in rock)
print("basalt" in rock)

False
True

In [26]:
print("highland" in rockTypes)
print("basalt" in rockTypes)
print("iron" in rockTypes)

True
True
False

## Conditional statements

Condional statements are code that should be executed if a condtion is met, or not met.

### If statements

If statements are the simplest form of a condtional: If a conditon is met, do thie following.
If not skip.

In [27]:
basalt = 0
if(basalt == 0):
    print("We have found no basalt rocks.")
print("Done checking basalt rocks.")

We have found no basalt rocks.
Done checking basalt rocks.

In [28]:
basalt = 1
if(basalt == 0):
    print("We have found no basalt rocks.")
print("Done checking basalt rocks.")

Done checking basalt rocks.

### Else

The else extends the if: If condtion is not met, do this.

In [29]:
basalt = 1
if(basalt == 0):
    print("We have found no basalt rocks.")
else:
    print("We found some basalt rocks!")
print("Done checking basalt rocks.")

We found some basalt rocks!
Done checking basalt rocks.

### Elif

We can furhter expand with elif (else, if) in between the else and if statement:
If not true, check if this is true, if not do this.

In [30]:
basalt = 1
if(basalt == 0):
    print("We found no basalt rocks.")
elif(basalt == 1):
    print("We found exactly 1 basalt rock.")
else:
    print("We found more than 1 basalt rock!")
print("Done checking basalt rocks.")

We found exactly 1 basalt rock.
Done checking basalt rocks.

## While and For loops

Loops let us define a block of code that shuld be run repeatedly, typically until a condition is met.

### While loops

While loops are repeated until a condition is not true.

In [31]:
countdown = 5

while countdown >= 0:
    print(countdown)
    countdown = countdown - 1  
print("Lift Off")

5
4
3
2
1
0
Lift Off

It is important to remeber to include some code that makes the condition false. If not the code will be stuck in an infinite loop.

### For loops

For loops perform an action for a set amount of iterations. they are often used with lists or sequences:

In [32]:
planets = "Mars", "Saturn", "Jupiter"

for planet in planets:
    print(planet)

Mars
Saturn
Jupiter

## Functions

Functions can be used to write reusable code blocks. This lets us redo the actions of a code without repeating the code itself.

to define a function we give start by def, and writes the name of the function, and the input.

In [33]:
def printHello():
    print("Hello")

printHello()
printHello()

Hello
Hello

## Working with files

Writing to a file:

In [34]:
# define a file path
strPath = "text.txt"

In [35]:
# open the file in write mode
fileObject = open(strPath, "w")

In [36]:
# add text to the file
fileObject.write("First Astronaut on the moon\n")
fileObject.write("Neil Armstrong\n")

15

In [37]:
# close the file
fileObject.close()

Reading from a file into a list:

In [38]:
# open the file
fileObject = open(strPath)

# add a list and read the content to it
textList = fileObject.readlines()

# close the file
fileObject.close()

In [39]:
for line in textList:
    print(line)

First Astronaut on the moon

Neil Armstrong

In [40]:
firstLine = textList[0]
print(firstLine)

First Astronaut on the moon

In [41]:
secondLine = textList[1]
print(secondLine)

Neil Armstrong

## Parameters in functions

If we create variable inside of a function it is local to the function. if we want to use it outside of the function we need to pass it out

We can access a global variable in a function, but we cannot modify it. 

we can either make the variable global inside the function, or we can pass it into the function, and return.